# Data Analytics

## Ingesting Data with Pandas

![Python and Pandas!](./images/PythonPandasandDataIngestion.png)

## We are going to learn about ...

- Reading Data from Excel files
- Reading data from SQL databases
- Reading data from CSV files
- We'll do some Data Wrangling
- Pandas in class Practice

<br>

---

### Reading Data From Excel into a `DataFrame`:

To read an excel file as a DataFrame, use the Python  Pandas `read_excel()` method. You can read different types of Excel file extensions:.xlsx, and .xls.

You can read the first sheet, specific sheets, multiple sheets or all sheets. Pandas converts this to the DataFrame structure, which is a tabular like structure.

To be able to open Excel files we need to install the module `openpyxl`

    --  pip install openpyxl

For our example, we will use a file from the resources folder in the curriculum. The filepath to the XLSX file is `./resources/sample_winterathletes.xlsx`. 

We will use the `read_excel` method as mentioned.

-   The first parameter is the name of the excel file.
-   The sheet_name parameter defines the sheet to be read from the excel file. By default, Pandas will use the first sheet (positionally), unless otherwise specified. To pass multiple sheets use: - `sheet_name=['East', 'West']`

The name of the sheet we want to pull from the Excel workbook is `Athletes`.

In [ ]:
# import an excel sheet
import pandas as pd

athletes = pd.read_excel('./resources/sample_winterathletes.xlsx',
                    sheet_name='Athletes')
athletes

Often you don’t want to load every column in an Excel file because there are too many columns etc. Use the `usecols=` parameter to select the columns of data you want. EX:-- `usecols=['Customer', 'Sales']`

Here is a list of some important parameters that can be used with the `.read_excel()` method:-
-   **dtype** – Dict with column name an type.
-   **nrows** – How many rows to parse.
-   **na_values** – Additional strings to recognize as NA/NaN. 
-   **keep_default_na** – Whether or not to include the default NaN values when parsing the data. 
-   **na_filter** – Filters missing values.
-   **parse_dates** – Specify the column index you wanted to parse as dates
-   **thousands** – Thousands separator for parsing string columns to numeric.
-   ***skipfooter*** – Specify how many rows you wanted to skip from the footer.
-   **mangle_dupe_cols** – Duplicate columns will be specified as ‘X’, ‘X.1’, …’X.N’, 

The `.read_excel()` method is a very complex function with many parameters that offer a wide range of useful ways to manipulate Excel input for a Pandas DataFrame. Read all about it here in this documantation -- [Syntax for `.read_excel()`.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html).

<br>


---

### Reading Data From `SQL`  into a `DataFrame`:

Pandas has 2 **“read SQL”** methods:-  `pandas.read_sql_query()` and `pandas.read_sql()`. 

The `.read_sql()` method was added to make it slightly easier to work with SQL data in Pandas. It combines the functionality of two other SQL methods:

-   `.read_sql_query()` -- for querying a database and reading the response into a DataFrame once a connection has been setup to the database;
-   `.read_sql_table()` -- which allows Pandas to read a whole SQL table from a database into a DataFrame.

Syntax of Pandas `.read_sql()`: -

```python
    # Syntax of read_sql()
    pandas.read_sql(sql, con, index_col=None, coerce_float=True, 
        params=None, parse_dates=None, columns=None, chunksize=None)

    # Syntax of read_sql_query()
    pandas.read_sql_query(sql, con, index_col=None, coerce_float=True, 
        params=None, parse_dates=None, chunksize=None, dtype=None)

    # Syntax of read_sql_table()
    pandas.read_sql_table(table_name, con, schema=None, index_col=None, 
        coerce_float=True, parse_dates=None, columns=None, 
        chunksize=None)

```

There are drivers available for several SQL databases including SQLite, MySQL, PostgreSQL, etc.

Python comes with build-in support for SQLite. However, unlike SQLite, there are no built-in Python SQL libraries for connecting to other databases. 

In order to connect with other databases from within a Python program, we'll need to install SQL drivers for Python, for those desired databases, and then define connectors for those drivers. A complex process.

We wil use the `pandas.read_sql_query()` as mentioned, along with the `.sqlite` SQL module.

The filepath is `./resources/pitchforkDatabase.sqlite`. 

Use the `sqlite3` library. The name of the table is `artists`.

In [ ]:
import pandas as pd
import sqlite3

con = sqlite3.connect('./resources/PitchForkDatabase.sqlite')
pfDB = pd.read_sql_query('select * from artists',con)
pfDB

While Pandas handles importing SQL data way more eligantly than Python does, the `.read_sql_query()` method is still a complex function with many parameters that offer a wide range of ways to manipulate SQL input to form a Pandas DataFrame. 

Read all about the [Syntax and use of `.read_sql()`.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)

And here is a very simple and basic article explaining the most useful minimums for working with SQL in Pandas; simple and easy -- [pandas read_sql() method implementation with Examples](https://www.datasciencelearner.com/pandas-read_sql-implementation-examples/)

<br>


---

### Reading data from `CSV files` into a `DataFrame`:

A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

You can open it in Notepad but the format will be off; Use VS Code instead.

To access data from the CSV file, we require a function `.read_csv()` that retrieves data in the form of the DataFrame.

By default, a `CSV` is separated by commas. But one can use other separators as well. 

The `pandas.read_csv()` function is not limited to reading the CSV file with default separator (i.e. comma). It can be used for other separators such as `;` or `|` or `:`. 

To load CSV files with such separators, the `sep=` parameter is used to pass the separator used in the CSV file. Example: --
```python
    f = pd.read_csv("datafile2.csv", sep='|')
```

For our example, we'll use a file from the resources folder in the curriculum. The filepath to the CSV file is `./resources/GREENCOMPUTERS500.csv`.

Lets first look at the data by clicking this link ... [Top 500 Green Computers](./resources/GREENCOMPUTERS500.csv)

Form this data we can see that we have a file with many columns.

Lets see what it loos like when we import the data into a DataFrame ...

In [ ]:
# Importing a CSV file
import pandas as pd

green = pd.read_csv('./resources/GREENCOMPUTERS500.csv',index_col=0)
green.info()
green

Read all about the [Syntax and use of `.read_csv()`.](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)


---

### Creating a `.csv` file from scratch

We can export a Pandas DataFrame to a CSV file by using the Pandas `to_csv()` method. By default, this method exports a DataFrame to a CSV file with "row index" as the first column, and a comma as the delimiter. 

With the `sep:` we can specify a custom delimiter for the CSV output, instead of a comma.

One can also save the CSV with out indexes.

In [ ]:
# Creating a .csv from scratch
import pandas as pd 

cities = pd.DataFrame([["St. Louis", "Missouri"], ["Atlanta", "Georgia"]], 
                        columns=["City", "State"])
cities
cities.to_csv('cities.csv')

In [ ]:
# sep: Specify a custom delimiter for the CSV output
import pandas as pd 

cities = pd.DataFrame([["St. Louis", "Missouri"], ["Atlanta", "Georgia"]], 
                        columns=["City", "State"])

cities.to_csv('citiesT.csv', sep='\t')   # use tab to separate data instead of a comma

In [ ]:
# Viewing the newly created  .csv file
import pandas as pd

df = pd.read_csv('cities.csv')
print(df)

In [ ]:
# Saving the file without indexes
import pandas as pd 

cities = pd.DataFrame([["St. Louis", "Missouri"], ["Atlanta", "Georgia"]],
                        columns=["City", "State"])

cities.to_csv('cities.csv', index=False)
df = pd.read_csv('cities.csv')
print(df)

Read all about how to use [pandas.DataFrame.to_csv](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)


---

## Pandas Data Wrangling with a CSV file

We will reuse the data file we introduced in the 1st Pandas session. For our example, we will use a file from the resources folder in the curriculum. The filepath to the CSV file is `./resources/data.csv`.

In [ ]:
# read and print a summary of a DataFrame
import pandas as pd
df = pd.read_csv("./resources/data.csv")

# Print Summary of a DataFrame -- 1st 5 & last 5 lines
print("Summary of our DataFrame ...\n")
df

In [ ]:
# read and print N number of rows from a DataFrame
import pandas as pd
df = pd.read_csv("./resources/data.csv")

# Viewing the FIRST 10 rows
print("\nFirst 10 header rows ...\n\n", df.head(10))

# Viewing the LAST 12 rows
print("\nLast 12 tailing rows ...\n\n", df.tail(12))

In [ ]:
# read and print Info about a DataFrame
import pandas as pd

df = pd.read_csv("./resources/data.csv")

# Information about the DataFrame
print("\nPrint Info on the DataFrame ...\n")
df.info()

### A closer look at the DataFrame Info …

![DataFrame Info Display](./images/Pandas_DF_InfoDisplay.png)

Looking at this Info reveals that there are 5 rows in the 'Calories' column without data.

Nulls are bad! Nulls are the wrong result when you analyze data.

### Let’s find the Nulls

In [ ]:
# Let's find the NULLS ...
import pandas as pd

df = pd.read_csv("./resources/data.csv")

# This statement gives access to the WHOLE DataFrame
print("\nDF print ...\n", df.to_string())

#### **Dropping the NULLs -- `.dropna()`**

If you studied the output you should have found that the following lines contain NULLs in the 'Calories' column: 17, 27, 91, 118, 141

We will use the `.dropna()` method to drop the NULLs.

The `dropna()` method removes the rows that contains NULL values.

The `dropna()` method returns a new DataFrame object unless the `INPLACE` parameter is set to `True`, in that case the `dropna()` method does the removing in the original DataFrame instead.

> Note: In the example below, this DOES NOT change the original DataFrame BECAUSE we are using `new_df`.

In [ ]:
# dropping NULS -- .dropna()
import pandas as pd
df = pd.read_csv("./resources/data.csv")

new_df = df.dropna()
# check columns: 17	27	91	118	141
print(new_df.to_string())

In [ ]:
# This changes the ORIGINAL DataFrame
import pandas as pd
df = pd.read_csv("./resources/data.csv")

df.dropna(inplace = True)
# check columns: 17	27	91	118	141
print(df.to_string())

Read more about the `.dropna()` method ... [pandas.DataFrame.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

#### **Replacing Nulls -- `.fillna()`**

Often for data integrity sake we do not want to drop NULLs but transform and preserve them. We can replace NULLS with other values, or even calculations.

The `fillna()` method replaces the NULL values with a specified value.

The `fillna()` method returns a new DataFrame object unless the `inplace` parameter is set to True, in that case the `fillna()` method does the replacing in the original DataFrame instead.

In [ ]:
# CAUTION: -- Replace **ALL** NULLs with 130
import pandas as pd
df = pd.read_csv("./resources/data.csv")

df.fillna(130, inplace = True)
# check columns: 17	27	91	118	141
print(df.to_string())

In [ ]:
# Replacing Nulls in the "Calories" column with 130
import pandas as pd
df = pd.read_csv("./resources/data.csv")

df["Calories"].fillna(130, inplace = True)
# check columns: 17	27	91	118	141
print(df.to_string())

Read more about the `.fillna()` method ... [pandas.DataFrame.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

#### **Replace Nulls using Mean, Median, Mode**

We can replace NULLS with specific calculations to "fill in" missing data with valid similar data.

A common way to replace empty cells, is to calculate the Mean, Median or Mode value of the column.

Pandas uses the `mean()`, `median()` and `mode()` methods to calculate the respective values for a specified column.

- **Mean** = the average value
- **Median** = the value in the middle, after you have sorted all the values ascending
- **Mode** = the value that appears most frequently

One of the key points is to decide which technique, out of the above-mentioned imputation techniques, to use for getting the most appropriate approximation for the missing values.

>The goal is to find out which is a better measure of the central tendency of data and use that value for replacing missing values appropriately.

In [15]:
# Replace NULLS with MEAN
import pandas as pd
df = pd.read_csv("./resources/data.csv")

x = round((df["Calories"].mean()), 2)    # the average value
# x = round(x, 2)
print("The mean ...", x)

df["Calories"].fillna(x, inplace = True)
# check columns: 17	27	91	118	141
print(df.to_string())

The mean ... 375.79
     Duration  Pulse  Maxpulse  Calories
0          60    110       130    409.10
1          60    117       145    479.00
2          60    103       135    340.00
3          45    109       175    282.40
4          45    117       148    406.00
5          60    102       127    300.00
6          60    110       136    374.00
7          45    104       134    253.30
8          30    109       133    195.10
9          60     98       124    269.00
10         60    103       147    329.30
11         60    100       120    250.70
12         60    106       128    345.30
13         60    104       132    379.30
14         60     98       123    275.00
15         60     98       120    215.20
16         60    100       120    300.00
17         45     90       112    375.79
18         60    103       123    323.00
19         45     97       125    243.00
20         60    108       131    364.20
21         45    100       119    282.00
22         60    130       101    300.00
23         45    105       132    246.00
24         60    102       126    334.50
25         60    100       120    250.00
26         60     92       118    241.00
27         60    103       132    375.79
28         60    100       132    280.00
29         60    102       129    380.30
30         60     92       115    243.00
31         45     90       112    180.10
32         60    101       124    299.00
33         60     93       113    223.00
34         60    107       136    361.00
35         60    114       140    415.00
36         60    102       127    300.00
37         60    100       120    300.00
38         60    100       120    300.00
39         45    104       129    266.00
40         45     90       112    180.10
41         60     98       126    286.00
42         60    100       122    329.40
43         60    111       138    400.00
44         60    111       131    397.00
45         60     99       119    273.00
46         60    109       153    387.60
47         45    111       136    300.00
48         45    108       129    298.00
49         60    111       139    397.60
50         60    107       136    380.20
51         80    123       146    643.10
52         60    106       130    263.00
53         60    118       151    486.00
54         30    136       175    238.00
55         60    121       146    450.70
56         60    118       121    413.00
57         45    115       144    305.00
58         20    153       172    226.40
59         45    123       152    321.00
60        210    108       160   1376.00
61        160    110       137   1034.40
62        160    109       135    853.00
63         45    118       141    341.00
64         20    110       130    131.40
65        180     90       130    800.40
66        150    105       135    873.40
67        150    107       130    816.00
68         20    106       136    110.40
69        300    108       143   1500.20
70        150     97       129   1115.00
71         60    109       153    387.60
72         90    100       127    700.00
73        150     97       127    953.20
74         45    114       146    304.00
75         90     98       125    563.20
76         45    105       134    251.00
77         45    110       141    300.00
78        120    100       130    500.40
79        270    100       131   1729.00
80         30    159       182    319.20
81         45    149       169    344.00
82         30    103       139    151.10
83        120    100       130    500.00
84         45    100       120    225.30
85         30    151       170    300.00
86         45    102       136    234.00
87        120    100       157   1000.10
88         45    129       103    242.00
89         20     83       107     50.30
90        180    101       127    600.10
91         45    107       137    375.79
92         30     90       107    105.30
93         15     80       100     50.50
94         20    150       171    127.40
95         20    151       168    229.40
96         30     95       128    128.20
97         25    152       168    244.20
98         30    109       131    188.20
99         90     93       124    604.10
100        20     95       112     77.70
101        90     90       110    500.00
102        90     90       100    500.00
103        90     90       100    500.40
104        30     92       108     92.70
105        30     93       128    124.00
106       180     90       120    800.30
107        30     90       120     86.20
108        90     90       120    500.30
109       210    137       184   1860.40
110        60    102       124    325.20
111        45    107       124    275.00
112        15    124       139    124.20
113        45    100       120    225.30
114        60    108       131    367.60
115        60    108       151    351.70
116        60    116       141    443.00
117        60     97       122    277.40
118        60    105       125    375.79
119        60    103       124    332.70
120        30    112       137    193.90
121        45    100       120    100.70
122        60    119       169    336.70
123        60    107       127    344.90
124        60    111       151    368.50
125        60     98       122    271.00
126        60     97       124    275.30
127        60    109       127    382.00
128        90     99       125    466.40
129        60    114       151    384.00
130        60    104       134    342.50
131        60    107       138    357.50
132        60    103       133    335.00
133        60    106       132    327.50
134        60    103       136    339.00
135        20    136       156    189.00
136        45    117       143    317.70
137        45    115       137    318.00
138        45    113       138    308.00
139        20    141       162    222.40
140        60    108       135    390.00
141        60     97       127    375.79
142        45    100       120    250.40
143        45    122       149    335.40
144        60    136       170    470.20
145        45    106       126    270.80
146        60    107       136    400.00
147        60    112       146    361.90
148        30    103       127    185.00
149        60    110       150    409.40
150        60    106       134    343.00
151        60    109       129    353.20
152        60    109       138    374.00
153        30    150       167    275.80
154        60    105       128    328.00
155        60    111       151    368.50
156        60     97       131    270.40
157        60    100       120    270.40
158        60    114       150    382.80
159        30     80       120    240.90
160        30     85       120    250.40
161        45     90       130    260.40
162        45     95       130    270.00
163        45    100       140    280.90
164        60    105       140    290.80
165        60    110       145    300.00
166        60    115       145    310.20
167        75    120       150    320.40
168        75    125       150    330.40

In [17]:
# Replace NULLS with MEDIAN
import pandas as pd
df = pd.read_csv("./resources/data.csv")

x = df["Calories"].median()     # the value in the middle
print("the median ...", x)

df["Calories"].fillna(x, inplace =True)
# check columns: 17	27	91	118	141
print(df.to_string())

the median ... 318.6
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     318.6
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     318.6
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     318.6
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     318.6
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     318.6
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [16]:
# Replace NULLS with MODE
import pandas as pd
df = pd.read_csv("./resources/data.csv")

x = df["Calories"].mode()[0]    # value that appears most
print("the mode ...", x)

df["Calories"].fillna(x, inplace = True)
# check columns: 17	27	91	118	141
print(df.to_string())

the mode ... 300.0
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     300.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     300.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     300.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     300.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4


---

#### **Replacing Incorrect data in DataFrames**

So, you want to replace values in your DataFrame with something else? No problem. That is where Pandas Replace comes in.

Pandas `DataFrame.replace()` is a small but powerful function that will replace (or swap) values in your DataFrame with another value. It can replace strings, regex, lists, dictionaries, series, numbers, etc. from a Dataframe. 

Every instance of the provided value is replaced after a thorough search of the full DataFrame, depending on the parameters used...

    Syntax:     df.replace(to_replace = 'what you want to replace',
                            value = 'what you want to replace it with')

What starts as a simple function, can quickly be expanded for most of your scenarios.

Pandas `.replace()` can quickly get nuanced as you dig deeper. Here are the most common ways to use pandas replace:

**Pandas Replace**

| Code | Plain Language |
|----|----|
| df.replace(0, 5) | Replace all of the 0s in your DataFrame with 5s |
| df.replace([0, 1, 2, 3], 4) | Replace all the 0s, 1s, 2s, 3s in your DataFrame with 4s |
| df.replace([0, 1, 2, 3], [4, 3, 2, 1]) | Replace all the 0s with 4s, 1s with 3s, 2s with 2s, and 3s with 1s. Note: if you pass two lists they both much be the same length |
| df.replace({0: 10, 1: 100}) | Using a dict – Replace 0s with 10s, and 1s with 100s. |
| df.replace({'A': 0, 'B': 5}, 100) | Replace 0’s in column “A” with 100, and replace 5s in column “B” with 100 |
| df.replace({'C': {1: 100, 3: 300}}) | Using a dict – Within column “C” replace 1s with 100 and 3s with 300 |
| df.replace(to_replace=r'^ba.$', value='new', regex=True) | Replace anything that matched the regex ‘^ba.$’ with “new” |

<br>

**Replace Parameters**

- **to_replace**: - The values, list of values, or values which match regex, you want to replace. If using a dict, you can also include the values you would like to do the replacing
- **value**: - Values that will do the replacing. **Note**: This can also be none if you have a `dict` in your `to_replace` parameter
- **inplace (Default: False)**: - If true, it write over your current DataFrame. If false, then your DataFrame will be returned to you.
- **limit**: - The max size you could like to forward or back fill. Example: The number of rows to fill before and after the current point
- **regex**: - If you want `to_replace` to read your inputs as regex or not
- **method**: - The fill method to use when `to_replace` is either a scalar, list, or tuple. Value must be None
- **pad/ffill**: – Take the value that is in the back of what your replacing, and fill it going forward
- **bfill**: – Take the value that is in the front of your value to be replaced, and fill it going backward

>`(to_replace)` can be a list consisting of str, regex or numeric objects. If both `to_replace` and `value` are lists, they must be the same length.

For full detail on how to use all these options please refer to the documentation on [pandas.DataFrame.replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)


**So. let's replace some values ...**

In [ ]:
import pandas as pd
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                    'Y': [5, 6, 7, 8, 9],
                    'Z': ['z', 'y', 'x', 'w', 'v']})

# Replace all 2s with 20s
df1 = df.replace(to_replace=2, value=20)
df1

In [ ]:
import pandas as pd
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                    'Y': [5, 6, 7, 8, 9],
                    'Z': ['z', 'y', 'x', 'w', 'v']})

# replace all 1s, 3s, and 5s with 20
df2 = df.replace(to_replace=[1,3,5], value=20)
df2

In [ ]:
import pandas as pd
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                    'Y': [5, 6, 7, 8, 9],
                    'Z': ['z', 'y', 'x', 'w', 'v']})

# here 1s get replaced with 10s, 3s with 30s and 5s with 50s
df3 = df.replace(to_replace=[1,3,5], value=[10,30,50])
df3

In [ ]:
import pandas as pd
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                    'Y': [5, 6, 7, 8, 9],
                    'Z': ['z', 'y', 'x', 'w', 'v']})

# replacing 1s with 10s, 'z's with 'zz's, and 'v's with 'vvv's
df4 = df.replace(to_replace={1: 10, 'z':'zz', 'v':'vvv'})
print(df4)


---

#### **Fixing Dates in DataFrames**

In most of the big data scenarios , there will be a requirement to fix date issues. It could be necessary to flip a date format, change date formats, or to correct them based on certain region, flag incorrect dates, and fix them appropriately.

For the next examples we will use a much smaller dataset from the resources folder.

The filepath to the CSV file is `./resources/data1.csv`.

In [ ]:
# Fixing Dates in DataFrames
import pandas as pd

df = pd.read_csv("./resources/data1.csv")
print(df.to_string())

# drop NULL dates inplace
df['Date'] = pd.to_datetime(df['Date'])
df.dropna(subset=['Date'], inplace = True)

print(df.to_string())

 ---
 
 #### **Fixing wrong info in a specific LOCATION**

Pandas provides two ways, `loc()` and `at()`, to access or change a single value of a DataFrame.

- Use `at()` if you only need to get or set a single value in a DataFrame or Series.
- On the other hand `loc()`can be used to access a single value but also to access a group of rows and columns by a label or labels.

In [ ]:
# Fixing wrong info in a specific LOCATION
import pandas as pd

df = pd.read_csv("./resources/data1.csv")
print(df.to_string())

# Change line 9 "Duration" from 60 to be 45
df.loc[9, 'Duration'] = 45
print(df.to_string())

 ---
 
 #### **Fixing wrong info in LARGE sets by looping**

"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

Loop through all values in the "Duration" column; If the value is higher than 120, set it to 120:

In [ ]:
# Fixing wrong info in LARGE sets by looping
import pandas as pd
df = pd.read_csv("./resources/data.csv")

for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.loc[x, "Duration"] = 120

print(df.to_string())


---

#### **Dropping / Deleting rows from a DataFrame**

Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

In [ ]:
# Removing rows in LARGE sets
import pandas as pd

df = pd.read_csv("./resources/data.csv")
print(df.info())

for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace = True)

print(df.info())
print(df.to_string())

 --- 
 
 #### **Discovering Duplicates**

Duplicate rows are rows that have been registered more than one time.
To discover duplicates, we can use the `duplicated()` method.

The `duplicated()` method returns a Boolean values for each row; in other words, it returns `True` for every row that is a duplicate, otherwise `False`.

In [ ]:
# Finding all Duplicates
import pandas as pd

df = pd.read_csv("./resources/data1.csv")
print(df.duplicated())

#### **Removing Duplicates**

To remove duplicates, use the `drop_duplicates()` method.

>Remember: The `inplace = True` will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame.

In [ ]:
# Removing all Duplicates
import pandas as pd

df = pd.read_csv("./resources/data1.csv")

df.drop_duplicates(inplace = True)
print(df.duplicated())


---

### More practice with CSV files - Titanic

First, we need to gather our data.

We can either use the data from our resources directory, or we can import our data from the WEB.

The filepath to the CSV file in the curriculum resources folder is ["./resources/titanic.csv"](./resources/titanic.csv).

Else, the URL to the data file on the WEB is ... https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

You can download that file to your machine, or we will pull that file directly in our code.

In [ ]:
# First, we need to gather our data
import pandas as pd

titanic_data  = pd.read_csv("./resources/titanic.csv")

print(titanic_data.head())

In [ ]:
# If you wanted to use the data straight from the web
import pandas as pd 

titanic_data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

print(titanic_data.head())

In [ ]:
# if you copied the file to your desktop
import pandas as pd

titanic_data = pd.read_csv(r"C:\Users\User\Desktop\DAP2022\titanic.csv")

print(titanic_data.head())

In [ ]:
# Customizing Data Headers
import pandas as pd 

col_names = ["Id", "Survived", 
                "Passenger Class", "Full Name", 
                "Gender", "Age", "SibSp", "Parch", 
                "Ticket Number", "Price", "Cabin", "Station"] 

titanic_data = pd.read_csv(r"./resources/titanic.csv", names = col_names) 
print(titanic_data.head())

In [ ]:
# Skipping Rows
import pandas as pd 

col_names = ["Id", "Survived", 
                "Passenger Class", "Full Name", 
                "Gender", "Age", "SibSp", "Parch", 
                "Ticket Number", "Price", "Cabin", "Station"] 

titanic_data = pd.read_csv(r"./resources/titanic.csv", names = col_names, skiprows=[0]) 
print(titanic_data.head())

In [ ]:
# Saving to a new .csv file
import pandas as pd 

col_names = ["Id", "Survived", 
                "Passenger Class", "Full Name", 
                "Gender", "Age", "SibSp", "Parch", 
                "Ticket Number", "Price", "Cabin", "Station"] 

titanic_data = pd.read_csv(r"./resources/titanic.csv", names = col_names, skiprows=[0]) 

titanic_data.to_csv('use_titanic.csv', index=False)

In [ ]:
# Viewing the newly created  .csv file
import pandas as pd

df = pd.read_csv('use_titanic.csv')
print(df)


---

### Plotting & Practice with Pandas, Matplotlib and `.csv` files

In [ ]:
# Plotting directly from a .csv
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("./resources/data1.csv")
df.plot()
plt.show()

In [ ]:
# Creating a scatter plot
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("./resources/data1.csv")

df.plot(kind = "scatter", x = "Duration", y = "Calories")
plt.show()

In [ ]:
# Creating a Histogram plot
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("./resources/data1.csv")

df["Duration"].plot(kind ='hist')
plt.show()

We will continue working with Matplotlib in the next session